#sort {
    border: 1px solid;
    position: relative;
    height: 400px;
    width: 600px;
    /*margin: auto;*/
    margin: 50px;
}

.bar-to-blue {
    transition: fill .2s ease;
    fill: lightblue;
}

.bar-to-red {
    transition: fill .3s ease;
    fill: rgb(220, 20, 60);
}

.bar-to-green {
    transition: fill .5s ease;
    fill: rgb(0, 153, 76);
}

.bar-to-orange {
    transition: fill .5s ease;
    fill: rgb(255, 178, 102);
}

.bar-to-purple {
    transition: fill .5s ease;
    fill: rgb(153, 0, 153);
}
